<!DOCTYPE html>
<html>
<head>
	<title>List of Clients</title>
	<link rel="stylesheet" href="style.css">
</head>
<body>
	<header>
		<h1>List of Clients</h1>
		<nav>
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/contact">Contact Us</a></li>
				<li><a href="/documentation">Documentation</a></li>
				<li><a href="/clients">Clients</a></li>
				<li><a href="/translate">Translate-API</a></li>
			</ul>
		</nav>
	</header>
	<ul class="client-list" style="padding-top: 100px;">
		<% results.forEach((client) => { %>
		<li>
			<img src="https://cdn.costumewall.com/wp-content/uploads/2015/09/dexters-laboratory-costume.jpg" alt="Client Image">
			<h3><%= client.name %></h3>
			<p><%= client.email %></p>
			<p><%= client.message %></p>
		</li>
		<% }); %>
	</ul>
</body>
</html>
