<!DOCTYPE html>
<html>
<head>
	<title>Documentation - GCP Cloud Consulting</title>
	<link rel="stylesheet" href="style.css">
</head>
<body>
	<header>
		<h1>GCP Cloud Consulting</h1>
		<nav>
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/contact">Contact Us</a></li>
				<li><a href="/documentation">Documentation</a></li>
				<li><a href="/clients">Clients</a></li>
			</ul>
		</nav>
	</header>
	<main>
		<section class="centered">
			<!-- <h2>Documentation</h2> -->
            <h2 style="font-size: 36px; color: white;">Documentation</h2>
			<ul class="link-list">
				<li><a href="https://cloud.google.com/docs">GCP Documentation</a></li>
				<li><a href="https://cloud.google.com/training">GCP Training</a></li>
				<li><a href="https://cloud.google.com/certification">GCP Certification</a></li>
				<li><a href="https://cloud.google.com/solutions">GCP Solutions</a></li>
				<li><a href="https://cloud.google.com/blog">GCP Blog</a></li>
			</ul>
			<h3>Other Cloud Providers</h3>
			<ul class="link-list">
				<li><a href="https://aws.amazon.com/">Amazon Web Services (AWS)</a></li>
				<li><a href="https://azure.microsoft.com/en-us/">Microsoft Azure</a></li>
				<li><a href="https://cloud.ibm.com/">IBM Cloud</a></li>
			</ul>
		</section>
	</main>
</body>
</html>